{% extends 'staticapp/index.html' %}
{% load static %}
{% block my %}
{% endblock my %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/staticapp/css/style1.css' %}">

 <!----------about section---------------->

   <section id="banner">
     <div class="container ">
        <div class="row">
            <div class="col-md-6 " id="services">
                <p class="promo-title">YOU HAVE TO KNOW...</p>
                <p>In 2022, The waste solution concluded that 292.4 tons of  waste was <br>generated which equated to about 4.9 pounds per day per person. Out <br>of the 292.4 tons, approximately 69 million tons were recycled, and 25 <br>million tons were composted by with help of our organization</p>
                <button type="button" class="btn btn-primary" >All Services</button>
            </div>
            <div class="col-md-6 text-center anni ">
              <img src="{% static 'staticapp/images/ab2.png' %}" class="img-fluid ">
            </div>
        </div>
     </div>
      
              

   </section>

  
<br><br><br>
   
<section id="banner">
     <div class="container  ">
        <div class="row ">
            <div class="col-md-6 text-center anni">
              <img src="{% static 'staticapp/images/ab3.jpg' %}" class="img-fluid">
            </div>
            <div class="col-md-6 " id="services">
                <p class="promo-nae" >...STORY WHAT WE DONE</p>
                <p id="promo-nae">In 2022, The waste solution concluded that 292.4 tons of  waste was <br>generated which equated to about 4.9 pounds per day per person. Out <br>of the 292.4 tons, approximately 69 million tons were recycled, and 25 <br>million tons were composted by with help of our organization<br><br><button type="button" class="btn btn-primary bt" >All Services</button></p>
                
            </div>
            
        </div>
     </div>
      
              

   </section>
   
   {% endblock content %}
   
    <!-------------About section end------------->

    


    

    