{% extends 'staticapp/index.html' %}
{% load static %}
{% block my %}
{% endblock my %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/staticapp/css/style4.css' %}">
 <!----------banner section---------------->

   <section id="banner">
     <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="promo-title">Vision For Upcoming Years..</p>
                <p>To solve the problem of Uneconomical combustion of plastic scrap, waste tyre and muncipal solid waste, we will strive hard to innovate eco-friendly efficient and reliable recycling technology. </p>
                <a href="https://youtu.be/wyP2_-FlBSY"><img src="{% static 'staticapp/images/play.png' %}"n class=" play-btn "> </i>Watch tutorial</a>
            </div>
            <div class="col-md-6 text-center best1">
              <div class="myji "><img src="{% static 'staticapp/images/aw1.svg' %}" class="img-fluid w-85 "></div>
            </div>
        </div>
     </div>
      
              <img src="{% static 'staticapp/images/wave1.png' %}" class="bottom-img">

   </section>

   <!-------------card section------------->
   <section  >
    <h1 class="title pt-5 mt-5" align="center">Our Awareness Programs</h1>
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" id="frist">
    <div class="carousel-item active " data-bs-interval="3000">
      
<div class="container pt-4 mt-3 text-center"   align="center">
    
    
     <div class="row row-cols-1 row-cols-md-3 g-5 pb-  mmml ">
  <div class="col">
    <div class="card  shadow-lg mb-5 rounded-circle rd1" >
      <div class="myji rd1"><img src="{% static 'staticapp/images/p1.jpg' %}" class="card-img-top " alt="..."></div>
      <div class="card-body shadow-lg card2">
        <h5 class="card-title">!! How to manage waste separatly !!</h5>
        <p class="card-text">We are Teaching your childrens the importance of separating used paper from other recyclable trash by collecting and using it to create seed paper cards for themselves, friends, and family.</p>
        <a href="https://youtu.be/gG-FzuSergg" class="btn btn-primary">watch video</a>
      </div>
    </div>
  </div>

 <div class="col ">
    <div class="card  shadow-lg mb-5 rounded-circle rd1" >
      <div class="myji rd1"><img src="{% static 'staticapp/images/141.jpg' %}" class="card-img-top " alt="..."></div>
      <div class="card-body shadow-lg card2">
        <h5 class="card-title">!! How to collect waste separatly !!</h5>
        <p class="card-text ">Waste collector means any person who collects or transports waste and includes commercial and non-commercial collectors and transporters of waste<br>( for example, community groups ).</p>
        <a href="https://youtu.be/gG-FzuSergg" class="btn btn-primary">watch video</a>
      </div>
    </div>
  </div>

   <div class="col">
    <div class="card  shadow-lg mb-5 rounded-circle rd1" >
      <div class="myji rd1"><img src="{% static 'staticapp/images/w11.png' %}" class="card-img-top " alt="..."></div>
      <div class="card-body shadow-lg card2">
        <h5 class="card-title">!! How to convert waste into compost !!</h5>
        <p class="card-text">Composting is nature’s way of recycling. It is one of the most powerful actions we can take to reduce our trash, address climate change, and build healthy soil By turning our food into compost.</p>
        <a href="https://youtu.be/gG-FzuSergg" class="btn btn-primary">watch video</a>
      </div>
    </div>
  </div>
</div>
</div>

    </div>
    <div class="carousel-item" data-bs-interval="3000">
      
<div class="container pt-4 mt-3 text-center">
    
    
     <div class="row row-cols-1 row-cols-md-3 g-5  mmml">
   <div class="col">
    <div class="card  shadow-lg mb-5 rounded-circle rd1" >
      <div class="myji rd1"><img src="{% static 'staticapp/images/pr1.png' %}" class="card-img-top " alt="..."></div>
      <div class="card-body shadow-lg card2">
        <h5 class="card-title">!! waste treatment and transformation !!</h5>
        <p class="card-text">Hazardous waste can be treated by chemical, thermal, biological, and physical methods. Chemical methods include ion exchange, precipitation, oxidation and reduction, and neutralization.</p>
        <a href="https://youtu.be/gG-FzuSergg" class="btn btn-primary">watch video</a>
      </div>
    </div>
  </div>

 <div class="col">
    <div class="card  shadow-lg mb-5 rounded-circle rd1" >
      <div class="myji rd1"><img src="{% static 'staticapp/images/pr2.png' %}" class="card-img-top " alt="..."></div>
      <div class="card-body shadow-lg card2">
        <h5 class="card-title">!! Recycling of waste materials !!</h5>
        <p class="card-text">The definition of recycling is to pass a substance through a system that enables that substance to be reused. Waste recycling involves the collection of waste materials.</p>
        <a href="https://youtu.be/gG-FzuSergg" class="btn btn-primary">watch video</a>
      </div>
    </div>
  </div>

 <div class="col">
    <div class="card  shadow-lg mb-5 rounded-circle rd1" >
      <div class="myji rd1"><img src="{% static 'staticapp/images/pr3.png' %}" class="card-img-top " alt="..."></div>
      <div class="card-body shadow-lg card2">
        <h5 class="card-title">!! Why should we reduce waste !!</h5>
        <p class="card-text">Reducing the amount of waste you help prevent pollution and protect the environment. You also limit the amount of waste going to landfill, preserve natural resources and save money.</p>
        <a href="https://youtu.be/gG-FzuSergg" class="btn btn-primary">watch video</a>
      </div>
    </div>
  </div>
</div>
</div>

    </div>
    <div class="carousel-item">
     
<div class="container pt-4 mt-3 text-center">
    
    
     <div class="row row-cols-1 row-cols-md-3 g-5  mmml">
   <div class="col">
    <div class="card  shadow-lg mb-5 rounded-circle rd1" >
      <div class="myji rd1"><img src="{% static 'staticapp/images/pr4.jpg' %}" class="card-img-top " alt="..."></div>
      <div class="card-body shadow-lg card2">
        <h5 class="card-title">!! Introducing types of waste !!</h5>
        <p class="card-text">For the purposes of this review these sources are defined as giving rise to four major categories of waste: municipal solid waste, industrial waste, agricultural waste and hazardous waste.</p>
        <a href="https://youtu.be/gG-FzuSergg" class="btn btn-primary">watch video</a>
      </div>
    </div>
  </div>

 <div class="col">
    <div class="card  shadow-lg mb-5 rounded-circle rd1" >
      <div class="myji rd1"><img src="{% static 'staticapp/images/pr5.jpg' %}" class="card-img-top " alt="..."></div>
      <div class="card-body shadow-lg card2">
        <h5 class="card-title">!! waste landfilling method !! </h5>
        <p class="card-text">In this waste land filling method  we are collecting the waste in huge trucks and dumped into the pits. Once the pits are full, they are covered with soil and left for decomposition.</p>
        <a href="https://youtu.be/gG-FzuSergg" class="btn btn-primary">watch video</a>
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card  shadow-lg mb-5 rounded-circle rd1" >
      <div class="myji rd1"><img src="{% static 'staticapp/images/pr6.jpg' %}" class="card-img-top " alt="..."></div>
      <div class="card-body shadow-lg card2">
        <h5 class="card-title">!! How to waste reduce and reuse !!</h5>
        <p class="card-text">Reuse of waste means any operation by which products or components that are not waste are used again for the same purpose for which they were conceived.</p>
        <a href="https://youtu.be/gG-FzuSergg" class="btn btn-primary">watch video</a>
      </div>
    </div>
  </div>

</div>
</div>

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</section>

    <!------------- end card section------------->

    {% endblock content %}

    