{% extends 'staticapp/index.html' %}
{% load static %}
{% block my %}
{% endblock my %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/staticapp/css/style3.css' %}">

 <!----------banner section---------------->

   <section id="banner">
     <div class="container ">
        <div class="row">
            <div class="col-md-6 ">
                <p class="promo-title">Vision For Upcoming Years..</p>
                <p>To solve the problem of Uneconomical combustion of plastic scrap, waste tyre and muncipal solid waste, we will strive hard to innovate eco-friendly efficient and reliable recycling technology. </p>
                <a href="https://youtu.be/PCE2XGEIuSs"><img src="{% static 'staticapp/images/play.png' %}"n class=" play-btn "> </i>Watch tutorial</a>
            </div>
            <div class="col-md-6 text-center best1">
              <img src="{% static 'staticapp/images/Vis1.png' %}" class="img-fluid w-75 ">
            </div>
        </div>
     </div>
      
              <img src="{% static 'staticapp/images/wave1.png' %}" class="bottom-img">

   </section>

   <!-------------service section------------->

   <section id="services">
     <div class="container text-center">
        <h1 class="title">OUR CORE VALUES</h1>
        <div class="row text-center">
            <div class="col-md-4 services">
               <img src="{% static 'staticapp/images/v1.jpg' %}" class="service-img">
               <h5>We believe in the power of human mind</h5>
               <p> It is our strong believe that whatever a human believe , it can achieve . The Almighty has equipped the human with every possible capability . Therefore , the power of human could be utilized to counter all the challenges of the modern technological world .</p>
            </div>
            <div class="col-md-4 services">
               <img src="{% static 'staticapp/images/v2.png' %}" class="service-img">
               <h5>We believe in supportive work culture</h5>
               <p>The proper work culture of corporate organization plays catalytic role in its development and growth . The mutual cooperation , proper coordination and support among the personnel in the organization are must for nurturing the evolution of required work culture .</p>
            </div>
            <div class="col-md-4 services">
               <img src="{% static 'staticapp/images/v3.png' %}" class="service-img">
               <h5>We believe in knowledge - based economy</h5>
                <p>The 21st Century is described as the century of knowledge and research . We strongly believe that the economy of this century is greatly based on the promotion and cultivation of knowledge and research culture so we are trying to increasing knowlwdge </p>
            </div>
        </div>
               <button type="button" class="btn btn-primary">Scroll Down <b>⬇️</b></button>
     </div>
   </section>


   <section id="services">
     <div class="container text-center">
        <h1 class="title">OUR FIRST PRIORITY</h1>
        <div class="row text-center">
            <div class="col-md-4 services">
               <img src="{% static 'staticapp/images/v4.png' %}" class="service-img">
               <h5>We believe in innovations solution</h5>
               <p> The promotion of innovations leads to evolution of new technologies . We at Fornnax Technology firmly believe that the innovative recycling technology could provide solutions to the disposal problems of solid wastes in an effective and economical manner .</p>
            </div>
            <div class="col-md-4 services">
               <img src="{% static 'staticapp/images/v5.png' %}" class="service-img">
               <h5>We believe in waste to best conversion</h5>
               <p> The dumping of plastic scrap , waste tyres and municipal solid waste in the open land is quite common in the developing countries . The uneconomical and environmentally hazardous combustion of these wastes often pose a serious challenge to the public health . Therefore , we believe in providing technological solutions to convert the waste into best . </p>
            </div>
            <div class="col-md-4 services">
               <img src="{% static 'staticapp/images/v6.png' %}" class="service-img">
               <h5>We believe in public health and safety</h5>
                <p>  Our environment is virtually becoming dump house due to routine addition of various kinds of solid wastes . Many of these wastes are toxic to the health of environment and human . Therefore , we believe in the safe and economical disposal of solid waste in the largest interest of public health . </p>
            </div>
        </div>
               <button type="button" class="btn btn-primary">Scroll Down <b>⬇️</b></button>
     </div>
   </section>



   <section id="services">
     <div class="container text-center">
        <h1 class="title">OUR CORE VISION</h1>
        <div class="row text-center">
            <div class="col-md-4 services">
               <img src="{% static 'staticapp/images/v7.png' %}" class="service-img">
               <h5>We believe in clean and green environment its is goal</h5>
               <p>The mother earth provides us everything which is required for our survival and living a descent life on this planet . Therefore , it is our duty and obligation to keep our environment clean and green and we are working everyday hard  for make these possible and achive our goals early. </p>
            </div>
            <div class="col-md-4 services">
               <img src="{% static 'staticapp/images/v8.png' %}" class="service-img">
               <h5>We believe in the responsible  business culture</h5>
               <p> We understand the responsibilities of a corporate organization towards consumers , society , country and the world . The business activities of our organization would be always transparent , reliable and consumer - centric with the engagement of all concerned stakeholders in the matter of policies and regulations .</p>
            </div>
            <div class="col-md-4 services">
               <img src="{% static 'staticapp/images/v9.png' %}" class="service-img">
               <h5>We believe in customer's satisfaction and growth</h5>
                <p>We believe in customer's satisfaction and growth We very firmly believe that our customer is our God . No business can survive without the support and cooperation of customers . Therefore , our organization would strive hard to secure maximum customer's satisfaction at all stages of business transactions .</p>
            </div>
        </div>
               <button type="button" class="btn btn-primary">Scroll - Up <b></b></button>
     </div>
   </section>

    <!-------------About us------------->

    

    
    {% endblock content %}